[Unit]
Description=TACACS+ IPv6 Daemon
After=network.target
After=crond.service
ConditionPathExists=/etc/tac_plus.conf

[Service]
LimitCORE=16G
StandardOutput=null

ExecStartPre=/usr/bin/tac_plus \
  -C /etc/tac_plus.conf \
  -P

ExecStart=/usr/bin/tac_plus6 \
  -C /etc/tac_plus.conf \
  -B :: \
  -G

Restart=always

[Install]
WantedBy=multi-user.target
